<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div >
	<br>
	<h2 class="col-sm-5" align = "left">Data Penjualan Buku</h2>
	<tr>
		<div class="col-sm-5" align = "left" >		   
		     <h3><a  th:href="@{'/new'}">Tambah Baru</a></h3>     
	    </div>
	</tr>
	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
    		<th>ID Buku</th>
            <th>Nama Penulis</th>
            <th>Judul Buku</th>
            <th>Harga Buku</th>
            <th>Edit</th>
            <th>Hapus</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="student : ${liststudent }">
		<td th:text="${student.id}">ID Buku</td>
		<td th:text="${student.studentname}">Nama Penulis</td>
		<td th:text="${student.course}">Judul Buku</td>
		<td th:text="${student.fee}">Harga Buku</td>				
		<td>
			<a th:href="@{'/edit/' + ${student.id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/delete/' + ${student.id}}">Hapus</a>
		</td>		    
		</tr> 
   
  </tbody>
</table>      
                 </div>
            </div> 
	</tr>
	</tbody>
	</table>
	<div>
</body>
</html>